body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

* {
    margin: 0;
}

.container {
    background-color: #6c6c6c;
    color: white;
    border-radius: 3rem;
    padding: 20px;
    width: 600px;
    height: 250px;
}

.flex {
    width: 100%;
    display: flex;
}

.block {
    display: block;
}

.title-bar {
    height: 30%;
}

.icon {
    background-color: #c0c0c0;
    border-radius: 99999px;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.title {
    --this-padding: 2rem;
    padding-left: var(--this-padding);
    width: calc(100% - var(--this-padding));
    font-size: 2.3rem;
}

.content {
    height: 70%;
}

.info {
    display: block;
    --this-padding: 4rem;
    padding-right: var(--this-padding);
    width: calc(60% - var(--this-padding));
}

.info h1 {
    margin: 0;
    font-size: 1rem;
}

.fade {
    transition: opacity .5s;
}

.fade.hide {
    opacity: 0;
}

#date {
    font-size: 3rem;
}

#time {
    font-size: 4rem;
}

.info p {
    text-align: right;
    font-size: 2.5rem;
}

.status {
    text-align: center;
    width: 40%;
    font-size: 1.6em;
}

#statusWrapper {
    margin-bottom: 1rem;
}

.status-label, .bgm-label {
    background-color: #a6a6a6;
    border-radius: 99999px;
    padding: .2rem 3rem;
    display: inline-block;
    margin: 0;
    font-size: 0.8em;
}

.status-value, .bgm-value {
    margin: 5px 0;
    font-size: 1em;
}

.status-value {
    font-size: 2.5rem;
}