body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color: green;
    color: white;
}

.ticker-container {
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.category {
    flex: 0 0 120px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 99999px;
}

.ticker {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
}

.ticker__wrap {
    height: 1px;
    font-size: 24px;
    display: inline-block;
    padding-left: 100%;
    animation: ticker 15s linear infinite;
}

.ticker__item {
    display: inline-block;
    padding: 0 2rem;
}

@keyframes ticker {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* SHIND COLOR */

.shindo-0 {
    border-left: 20px solid #383838;
}

.shindo-1 {
    border-left: 20px solid #006EAA;
}

.shindo-2 {
    border-left: 20px solid #277600;
}

.shindo-3 {
    border-left: 20px solid #004A00;
}

.shindo-4 {
    border-left: 20px solid #AC6700;
}

.shindo-5- {
    border-left: 20px solid #A70000;
}

.shindo-5p {
    border-left: 20px solid #AD0000;
}

.shindo-6- {
    border-left: 20px solid #94007E;
}

.shindo-6p {
    border-left: 20px solid #94007E;
}

.shindo-7 {
    border-left: 20px solid #7F00BF;
}
