#title {
    animation: slide-in-left 1s ease-out;
}

#Title-Quake-text {
    animation: slide-in-left 1s ease-out;
}

#Summary_column-Quake-text {
    animation: slide-in-left 1s ease-out;
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}